<form class="col" [formGroup]="loginFormGroup" (ngSubmit)="login()">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" aria-describedby="email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" aria-describedby="password" formControlName="password">
  </div>
  <div class="form-group">
    <label for="submit">Submit</label>
    <button [disabled]="loginFormGroup.invalid" class="form-control" id="submit" name="submit"
      aria-describedby="submit">Submit {{loginFormGroup.valid}}</button>
  </div>
</form>