# Node.js
node_modules/
/my-manager/BE/node_modules
/my-manager/FE/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.env

# Angular
dist/
out-tsc/
.angular/
coverage/
src/environments/*.ts

# Express.js
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
