:root {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html ::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Tangerine', cursive;
  background: none;
}

h1 {
  font-family: 'Parisienne', cursive;
  font-size: 4rem;
}

h2 {
  font-family: 'Parisienne', cursive;
  font-size: 3rem;
}

h3 {
  font-family: 'Parisienne', cursive;
  font-size: 2.5rem;
}

p {
  font-size: 3.5rem;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100vw;
  background-image: url("../images/logo_escudo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-color: #03033a;
}

body #translucent-background {
  width: 100vw;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

body #translucent-background header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  min-height: calc(2rem + 100px);
}

body #translucent-background header h1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem;
  border-bottom: 1rem ridge rgba(18, 78, 111, 0.5);
  border-right: 1rem ridge rgba(18, 78, 111, 0.5);
  border-radius: 0 0 1rem 0;
  font-family: 'Lovers Quarrel', cursive;
  font-weight: normal;
}

body #translucent-background header img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 1rem;
}

body #translucent-background nav {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 100vw;
  height: 4.7rem;
  background-color: rgba(229, 220, 4, 0.7);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

body #translucent-background nav #menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 10rem;
  height: 5rem;
  border: none;
}

body #translucent-background nav #menu-toggle img {
  height: 4rem;
  margin: 1rem;
}

body #translucent-background nav #menu-toggle span {
  margin-right: 1rem;
}

body #translucent-background nav.overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
}

body #translucent-background nav.overlay #menu-toggle {
  display: none;
}

body #translucent-background nav #menu {
  display: none;
}

body #translucent-background nav #menu.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-image: url(../images/logo_escudo_antigo.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: cover;
  background-attachment: fixed;
  background-color: #0478e5;
}

body #translucent-background nav #menu.visible .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  list-style: none;
  height: 10vh;
  position: relative;
}

body #translucent-background nav #menu.visible .menu-item a, body #translucent-background nav #menu.visible .menu-item a:active, body #translucent-background nav #menu.visible .menu-item a:link, body #translucent-background nav #menu.visible .menu-item a:visited {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.7rem;
  font-family: 'Pinyon Script', cursive;
  font-weight: bold;
  color: black;
}

body #translucent-background main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  max-width: 100vw;
}

body #translucent-background main .cta-container {
  width: 100vw;
  min-height: 50vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem;
}

body #translucent-background main .cta-container a {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 1rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 100%;
  min-width: 10rem;
  height: 10rem;
  font-size: 3rem;
  font-weight: bold;
  border: 0.5rem solid black;
  border-top: 0;
  border-left: 0;
  padding: 0.5rem;
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #translucent-background main .cta-container a:active {
  -webkit-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
  border: none;
  outline: none;
  -webkit-box-shadow: inset 0.2rem 0.2rem lightgray;
          box-shadow: inset 0.2rem 0.2rem lightgray;
}

body #translucent-background main .cta-container a:focus {
  outline: none;
}

body #translucent-background main .cta-container .cta-description-container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 50%;
}

body #translucent-background main .page-section {
  width: 100vw;
  min-height: 100vh;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem;
}

body #translucent-background main #contacts {
  min-height: 25vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 2rem;
  padding-top: 4.7rem;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body #translucent-background main #contacts .col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #translucent-background main #contacts #whatsapp-message-form {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
}

body #translucent-background main #contacts #whatsapp-message-form textarea {
  width: 100%;
  height: 10rem;
  -webkit-box-shadow: 0 0 1rem black;
          box-shadow: 0 0 1rem black;
  border: none;
  margin: 2rem;
  background-color: rgba(250, 235, 215, 0.5);
  color: rgba(71, 71, 163, 0.466);
  font-size: 3rem;
  padding: 2rem;
}

body #translucent-background main #contacts #whatsapp-message-form [type=button] {
  min-width: 5rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 4rem;
  margin: 2rem;
  padding: 1rem;
}

@media (min-width: 901px) {
  body {
    background-image: url("../images/logo_escudo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    background-attachment: fixed;
  }
  body #translucent-background {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 100vh;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  body #translucent-background nav {
    margin: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-width: 100vw;
    height: 4.7rem;
  }
  body #translucent-background nav #menu-toggle {
    display: none;
  }
  body #translucent-background nav #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: rgba(229, 220, 4, 0.3);
    width: 100vw;
    height: 4.7rem;
  }
  body #translucent-background nav #menu .menu-item:first-child {
    width: 0px;
    height: 0px;
    display: none;
  }
  body #translucent-background nav #menu .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    height: 4.7rem;
    list-style: none;
    height: inherit;
  }
  body #translucent-background nav #menu .menu-item a, body #translucent-background nav #menu .menu-item a:active, body #translucent-background nav #menu .menu-item a:link, body #translucent-background nav #menu .menu-item a:visited {
    height: 100%;
    max-width: 50%;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Pinyon Script', cursive;
    text-decoration: none;
    font-size: 2.7rem;
    padding: 1rem;
  }
  body #translucent-background main .cta-container {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-height: 50vh;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 1rem;
  }
  body #translucent-background main .cta-container button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 1rem;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    max-width: 100%;
    min-width: 10rem;
    height: 10rem;
    font-size: 3rem;
    font-weight: bold;
    border-top: 0;
    border-left: 0;
    padding: 0.5rem;
  }
  body #translucent-background main .cta-container button:active {
    -webkit-transform: translate(0.5rem, 0.5rem);
            transform: translate(0.5rem, 0.5rem);
    border: none;
    outline: none;
    -webkit-box-shadow: inset 0.2rem 0.2rem lightgray;
            box-shadow: inset 0.2rem 0.2rem lightgray;
  }
  body #translucent-background main .cta-container button:focus {
    outline: none;
  }
  body #translucent-background main .cta-container .cta-description-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 50%;
  }
  body #translucent-background main .page-section {
    width: 100vw;
    min-height: 100vh;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5rem;
  }
  body #translucent-background main #contacts {
    min-height: 25vh;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding: 2rem;
    padding-top: 4.7rem;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  body #translucent-background main #contacts .col {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body #translucent-background main #contacts form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
  body #translucent-background main #contacts form textarea {
    width: 50%;
    height: clamp(5rem, 10rem, 50rem);
    -webkit-box-shadow: 0 0 1rem black;
            box-shadow: 0 0 1rem black;
    border: none;
    margin: 2rem;
    background-color: rgba(250, 235, 215, 0.5);
    color: rgba(71, 71, 163, 0.466);
    font-size: 3rem;
    padding: 2rem;
  }
  body #translucent-background main #contacts form [type=button] {
    min-width: 5rem;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    font-size: 4rem;
    margin: 2rem;
    padding: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */