@page "/"

<div class="cta-container">

    <div class="call-container">
        <h1>Queres fazer um upgrade no teu PC?</h1> 
        <h1>Ou talvez tenhas recebido um email de um princepe Nigeriano? </h1>
        <p class="stand-out">Estamos cá para <bold>ti</bold>!</p>
        <p class="cta-description">Talvez os exemplos que demos sejam exagerados, <br /> mas podemos garantir que só não resolvemos se não for fisicamente possível!</p>
    </div>

    <div class="action-container">
        <button>Saber Mais</button>
        <button>Contacte-nos</button>
    </div>

</div>
