@page "/"

<h1>This is a counting page with code behind approach</h1>

<p>The counter is currently at: @counter</p>

<button class="btn btn-primary" @onclick="increaseCounter">Click this to increase it</button>
<button class="btn btn-primary" @onclick="decreaseCounter">Click this to decrease it</button>