@inherits LayoutComponentBase
<header>
    <h1 class="brand-name">
        PCSI - Paulo César Monteiro<br> Soluções informáticas
    </h1>
    <img src="https://via.placeholder.com/150/png" alt="myLogo" >
</header>

<nav>
    <NavMenu />
</nav>

<main>
    @Body
</main>
