<i @onclick="ToggleNavMenu" class="navbar-toggler fa-2x fas fa-bars"></i>

<ul class="@NavMenuCssClass nav-menu" @onclick="ToggleNavMenu">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="counter">
            Counter
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="fetchdata">
            Fetch data
        </NavLink>
    </li>
</ul>